# Cache di Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Ambienti virtuali (se ne usi uno locale per i pacchetti)
venv/
.venv/
env/
ENV/

# Cartelle di output generati dal codice
output/

# File di configurazione degli IDE / Editor di codice
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# File di sistema (es. macOS e Windows)
.DS_Store
Thumbs.db
